body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('salon.avif');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.login-container {
    background-color: rgba(105, 104, 119, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container .otp-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #218838;
}
